<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProcessingProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <ProcessingProgram.Properties.Settings>
            <setting name="MachineIPAddress" serializeAs="String">
                <value>\\192.168.137.59\ssd\Automatico\</value>
            </setting>
            <setting name="SmallSpeed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DepthAll" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FeedType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FeedRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FeedAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FeedLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GreatSpeed" serializeAs="String">
                <value>2509</value>
            </setting>
            <setting name="RetractionType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RetractionRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RetractionAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RetractionLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MachineName" serializeAs="String">
                <value>Creo</value>
            </setting>
            <setting name="SafetyHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Thickness" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProcessMode" serializeAs="String">
                <value>0</value>
            </setting>
        </ProcessingProgram.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
